{% load staticfiles %}
<html>
  <head>
    <title> 
        {% block title %} {% endblock %} 
    </title>
    <script>
    {% block script %}
    {% endblock %}
    </script>
  </head>

  <body>
    <div>
      {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
      {% else %}
      <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
      {% endif %}
    </div>

    {% block content %}
    {% endblock %}

  </body>
</html>
